/ Color palette
$primary:            #dd4b39;
$secondary:          #dd4b39;
$gray-white:         #dcdcdc;
$gray:               #999;
$black:              #000;

$bg-red:             #af1f2e;
$bg-green:           #2d9340;