// Color palette
$primary:            #dd4b39;
$secondary:          #dd4b39;
$gray-white:         #dcdcdc;
$gray:               #999;
$white:              #fff;
$black:              #000;
$general-white:      #eee;
$navbar-blue:        #246c99;
$bg-red:             #af1f2e;
$bg-green:           #2d9340;
