.btn {
  -webkit-transition: all 275ms ease-in;
  transition: all 275ms ease-in;
}

.btn.active,
.btn:active {
  box-shadow: inset 0 1px 2px $rgb2;
}

.btn-default {
  background-color: $white;
  border-color: $wizard-gray2;
  color: $dark-light;

  // .btn-default.btn-outline
  &.btn-outline {
    color: $dark-light;
  }

  // .btn-default .badge
  .badge {
    background-color: $dark-light;
    color: $white;
  }

  // .btn-default.btn-outline
  // scss-lint:disable MergeableSelector
  &.btn-outline {
    background: $white;
    border-width: 2px;
    color: $white;
  }
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: $white;
  border-color: $buttons-gray2;
  color: $dark-light;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: $white;
  border-color: $wizard-gray2;
}

.btn-default.btn-outline:hover,
.btn-default.btn-outline:focus,
.btn-default.btn-outline.focus,
.btn-default.btn-outline:active,
.btn-default.btn-outline.active {
  border-color: $buttons-gray;
}

.btn-primary {
  background-color: $buttons-light-blue;
  border-color: $buttons-light-blue;
  color: $white;

  // .btn-primary .badge
  .badge {
    background-color: $white;
    color: $buttons-light-blue;
  }

  // .btn-primary.btn-outline
  &.btn-outline {
    background: $white;
    border-width: 2px;
    color: $buttons-light-blue;
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: $buttons-lighter-blue;
  border-color: $buttons-lighter-blue;
  color: $white;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $buttons-light-blue;
  border-color: $buttons-light-blue;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline.focus,
.btn-primary.btn-outline:active,
.btn-primary.btn-outline.active {
  border-color: $buttons-blue;
}

.btn-success {
  background-color: $buttons-light-green;
  border-color: $buttons-light-green;
  color: $white;

  // .btn-success .badge
  .badge {
    background-color: $white;
    color: $buttons-light-green;
  }

  // .btn-success.btn-outline
  &.btn-outline {
    background: $white;
    border-width: 2px;
    color: $buttons-light-green;
  }
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: $buttons-green2;
  border-color: $buttons-green2;
  color: $white;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: $buttons-light-green;
  border-color: $buttons-light-green;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline.focus,
.btn-success.btn-outline:active,
.btn-success.btn-outline.active {
  border-color: $buttons-green;
}

.btn-info {
  background-color: $forms-sea-blue;
  border-color: $forms-sea-blue;
  color: $white;

  // .btn-info .badge
  .badge {
    background-color: $white;
    color: $forms-sea-blue;
  }

  // .btn-info.btn-outline
  &.btn-outline {
    background: $white;
    border-width: 2px;
    color: $forms-sea-blue;
  }
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-color: $buttons-sea-blue;
  border-color: $buttons-sea-blue;
  color: $white;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: $forms-sea-blue;
  border-color: $forms-sea-blue;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline.focus,
.btn-info.btn-outline:active,
.btn-info.btn-outline.active {
  border-color: $buttons-strange;
}

.btn-warning {
  background-color: $forms-yellow;
  border-color: $forms-yellow;
  color: $white;

  // .btn-warning .badge
  .badge {
    background-color: $white;
    color: $forms-yellow;
  }

  // .btn-warning.btn-outline
  &.btn-outline {
    background: $white;
    border-width: 2px;
    color: $forms-yellow;
  }
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-color: $buttons-yellow;
  border-color: $buttons-yellow;
  color: $white;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: $forms-yellow;
  border-color: $forms-yellow;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline.focus,
.btn-warning.btn-outline:active,
.btn-warning.btn-outline.active {
  border-color: $buttons-orange;
}

.btn-danger {
  background-color: $forms-light-red;
  border-color: $forms-light-red;
  color: $white;

  // .btn-danger .badge
  .badge {
    background-color: $white;
    color: $forms-light-red;
  }

  // .btn-danger.btn-outline
  &.btn-outline {
    background: $white;
    border-width: 2px;
    color: $forms-light-red;
  }
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-color: $buttons-pink;
  border-color: $buttons-pink;
  color: $white;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: $forms-light-red;
  border-color: $forms-light-red;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline.focus,
.btn-danger.btn-outline:active,
.btn-danger.btn-outline.active {
  border-color: $buttons-red;
}

.btn-group .open .dropdown-toggle,
.input-group .open .dropdown-toggle {
  box-shadow: inset 0 1px 2px $rgb;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-bottom: 5px;
}

// close
button.close {
  text-shadow: none;
}
