body {
  font-family: 'Lato';
  padding-top: 50px;
  position: relative;
}

h1 {
  font: 400 36px / 1.1 "Open Sans", Arial, sans-serif;
}

h2 {
  font: 400 30px / 1.1 "Open Sans", Arial, sans-serif;
}

h3 {
  font: 400 26px / 1.1 "Open Sans", Arial, sans-serif;
}

h4 {
  font: 400 20px / 1.1 "Open Sans", Arial, sans-serif;
}

h5 {
  font: 400 16px / 1.1 "Open Sans", Arial, sans-serif;
}

.sub-header {
  border-bottom: 1px solid $general-white;
  padding-bottom: 10px;
}

.main {
  padding: 20px;

  // .main .page-header
  .page-header {
    margin-top: 0;
  }
}

.tab-content {
  border-left: 1px solid $tab-white;
  border-right: 1px solid $tab-white;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.label-pill {
  border-radius: 10rem;
  padding-left: .6em;
  padding-right: .6em;
}

.fa-btn {
  margin-right: 6px;
}
