.modal-header {background:#e4e4e4; border-color:#d4d4d4; padding:5px 15px}
.modal-header .close {margin-top:3px}
.modal-title {font-size: 14px; line-height: 26px;text-transform: uppercase}
.modal-footer {padding:7px 15px 8px}
.modal-content {border:2px #e4e4e4;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;box-shadow: none}
.modal-body{padding:20px 15px}
.modal-open .modal {overflow-y: scroll}
